In [ ]:
#OBSERVED TREND 1
    # 81% of players are male, 17% are female. Girl gamers exist.
#OBSERVED TREND 2
    # Most players that purchase items in the game are within the ages of 20-24.
#OBSERVED TREND 3
    # Most popular items purchased are items 39 and 84 with 11 purchases.

In [601]:
import pandas as pd
import numpy as np
import json

In [602]:
purchase_data = "Resources/purchase_data.json"
purchase_data_pd = pd.read_json(purchase_data)

In [603]:
df = pd.DataFrame(purchase_data_pd)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [604]:
# Player count / Total number of players

total_players = df["SN"].nunique()
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            573

In [605]:
#Purchasing Analysis (Total)

#Number of Unique Items
unique_item = df["Item Name"].nunique()

#Average Purchase Price
avg_price = df["Price"].mean()

#Total Number of Purchases
total_purchases = df["SN"].count()

#Total Revenue
total_revenue = df["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items":[unique_item], 
                                    "Average Price":[avg_price], 
                                    "Number of Purchases":[total_purchases],
                                    "Total Revenue":[total_revenue]
                                   })
purchasing_analysis2 = purchasing_analysis[["Number of Unique Items",
                                            "Average Price",
                                            "Number of Purchases",
                                            "Total Revenue"
                                           ]] 

# Use Map to format all the columns
purchasing_analysis2["Average Price"] = purchasing_analysis2["Average Price"].map("${:.2f}".format)
purchasing_analysis2["Total Revenue"] = purchasing_analysis2["Total Revenue"].map("${:.2f}".format)
purchasing_analysis2.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $2.93                  780      $2286.33

In [606]:
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [607]:
#Gender Demographics

df_gender = df[["SN","Gender"]]
df_gender_unique = df_gender.drop_duplicates(["SN"]) # got rid of duplicate SN
unique_gender_counts =df_gender_unique["Gender"].value_counts()
gender_demo = pd.DataFrame({"Total Count":unique_gender_counts
                     })
#
percentages =  (gender_demo["Total Count"]/573)*100
gender_demo["Percentage of Players"] = percentages
#
gender_demo = pd.DataFrame({"Total Count":unique_gender_counts,
                            "Percentage of Players":percentages
                     })
# Formatting
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}".format)

gender_demo

                      Percentage of Players  Total Count
Male                                  81.15          465
Female                                17.45          100
Other / Non-Disclosed                  1.40            8

In [608]:
#Purchasing Analysis (Gender)

#The below each broken by gender
grouped_gender_data = df.groupby(['Gender'])

#Purchase Count
purchase_count_gender = grouped_gender_data["SN"].count()

#Average Purchase Price
avg_purch_price = grouped_gender_data["Price"].mean()

#Total Purchase Value
total_purch_value = grouped_gender_data["Price"].sum()

#Normalized Totals
normal_totals = total_purch_value/unique_gender_counts

gender_pa_summary = pd.DataFrame({"Purchase Count":purchase_count_gender,
                            "Average Pruchase Price":avg_purch_price,
                            "Total Purchase Value":total_purch_value,
                            "Normalized Totals":normal_totals,
                     })

#Formatting 
gender_pa_summary["Average Pruchase Price"] = gender_pa_summary["Average Pruchase Price"].map("${:.2f}".format)
gender_pa_summary["Total Purchase Value"] = gender_pa_summary["Total Purchase Value"].map("${:.2f}".format)
gender_pa_summary["Normalized Totals"] = gender_pa_summary["Normalized Totals"].map("${:.2f}".format)

#Reorganizing Columns
gender_pa_summary2 = gender_pa_summary[["Purchase Count",
                                       "Average Pruchase Price",
                                       "Total Purchase Value",
                                       "Normalized Totals"
                                       ]]


gender_pa_summary2

,Purchase Count,Average Pruchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$3.83
Male,633,$2.95,$1867.68,$4.02
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

In [609]:
#Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0,10,14,19,24,29,34,39,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
df[' '] = pd.cut(df["Age"], bins, labels=group_names)
df_age_group = df.groupby(' ')


#Purchase Count
purchase_count_gender = df_age_group["Age"].count()

#Average Purchase Price
avg_purch_price = df_age_group["Price"].mean()

#Total Purchase Value
total_purch_value = df_age_group["Price"].sum()

#Normalized Totals
unique_age_count =df_age_group[" "].count()
normal_age_totals = total_purch_value/unique_age_count

df_age_group1 = pd.DataFrame({"Purchase Count":purchase_count_gender,
                            "Average Pruchase Price":avg_purch_price,
                            "Total Purchase Value":total_purch_value,
                            "Normalized Totals":normal_age_totals
                     })
#Formatting 
df_age_group1["Average Pruchase Price"] = df_age_group1["Average Pruchase Price"].map("${:.2f}".format)
df_age_group1["Total Purchase Value"] = df_age_group1["Total Purchase Value"].map("${:.2f}".format)
df_age_group1["Normalized Totals"] = df_age_group1["Normalized Totals"].map("${:.2f}".format)

#Reorganizing Columns
df_age_group2 = df_age_group1[["Purchase Count",
                            "Average Pruchase Price",
                            "Total Purchase Value",
                            "Normalized Totals"
                           ]]


df_age_group2

,Purchase Count,Average Pruchase Price,Total Purchase Value,Normalized Totals
,,,,
<10,32,$3.02,$96.62,$3.02
10-14,31,$2.70,$83.79,$2.70
15-19,133,$2.91,$386.42,$2.91
20-24,336,$2.91,$978.77,$2.91
25-29,125,$2.96,$370.33,$2.96
30-34,64,$3.08,$197.25,$3.08
35-39,42,$2.84,$119.40,$2.84
40+,17,$3.16,$53.75,$3.16

In [610]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
top_spender_data = df.groupby(['SN'])

#Purchase Count
purchase_count_sn = top_spender_data["SN"].count()

#Average Purchase Price
avg_purch_price = top_spender_data["Price"].mean()

#Total Purchase Value
total_purch_value = top_spender_data["Price"].sum()

top_spender_summary = pd.DataFrame({"Purchase Count":purchase_count_sn,
                            "Average Pruchase Price":avg_purch_price,
                            "Total Purchase Value":total_purch_value
                     })

#Formatting 
top_spender_summary["Average Pruchase Price"] = top_spender_summary["Average Pruchase Price"].map("${:.2f}".format)
top_spender_summary["Total Purchase Value"] = top_spender_summary["Total Purchase Value"].map("${:.2f}".format)

#Reorganizing Columns
top_spender_summary2 = top_spender_summary[["Purchase Count",
                                       "Average Pruchase Price",
                                       "Total Purchase Value",
                                       ]]

top_spender_summary3 = top_spender_summary2.sort_values('Total Purchase Value', ascending=False)
top_spender_summary3.head()

              Purchase Count Average Pruchase Price Total Purchase Value
SN
Qarwen67                   4                  $2.49                $9.97
Sondim43                   3                  $3.13                $9.38
Tillyrin30                 3                  $3.06                $9.19
Lisistaya47                3                  $3.06                $9.19
Tyisriphos58               2                  $4.59                $9.18

In [611]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
pop_item_data = df.groupby(['Item ID','Item Name'])

#Purchase Count
purchase_count_sn = pop_item_data["SN"].count()

#Average Purchase Price
avg_purch_price = pop_item_data["Price"].mean()

#Total Purchase Value
total_purch_value = pop_item_data["Price"].sum()

pop_item_summary = pd.DataFrame({"Purchase Count":purchase_count_sn,
                            "Item Price":avg_purch_price,
                            "Total Purchase Value":total_purch_value
                     })

#Formatting 
pop_item_summary["Item Price"] = pop_item_summary["Item Price"].map("${:.2f}".format)
pop_item_summary["Total Purchase Value"] = pop_item_summary["Total Purchase Value"].map("${:.2f}".format)

#Reorganizing Columns
pop_item_summary2 = pop_item_summary[["Purchase Count",
                                       "Item Price",
                                       "Total Purchase Value",
                                       ]]

pop_item_summary3 = pop_item_summary2.sort_values('Purchase Count', ascending=False)
pop_item_summary3.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [612]:
#Note to TAs, not sure what is going on where Sort_Values for Total Purchase Value is not working in my code. 
# Sort_Values starts in the middle row and not from row1

#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):

most_profitable_data = df.groupby(['Item ID','Item Name'])

#Purchase Count
purchase_count_sn2 = most_profitable_data["SN"].count()

#Average Purchase Price
avg_purch_price2 = most_profitable_data["Price"].mean()

#Total Purchase Value
total_purch_value2 = most_profitable_data["Price"].sum()

most_profitable_summary = pd.DataFrame({"Purchase Count":purchase_count_sn2,
                            "Item Price":avg_purch_price2,
                            "Total Purchase Value":total_purch_value2
                     })

#Formatting 
most_profitable_summary["Item Price"] = most_profitable_summary["Item Price"].map("${:.2f}".format)
most_profitable_summary["Total Purchase Value"] = most_profitable_summary["Total Purchase Value"].map("${:.2f}".format)

#Reorganizing Columns
most_profitable_summary2 = most_profitable_summary[["Purchase Count",
                                       "Item Price",
                                       "Total Purchase Value",
                                       ]]

most_profitable_summary3 = most_profitable_summary2.sort_values(['Total Purchase Value'], ascending=False)
most_profitable_summary3.head(100)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
170,Shadowsteel,5,$1.98,$9.90
21,Souleater,3,$3.27,$9.81
37,"Shadow Strike, Glory of Ending Hope",5,$1.93,$9.65
127,"Heartseeker, Reaver of Souls",3,$3.21,$9.63
120,Agatha,5,$1.91,$9.55
96,Blood-Forged Skeletal Spine,2,$4.77,$9.54
47,"Alpha, Reach of Ending Hope",6,$1.55,$9.30
119,"Stormbringer, Dark Blade of Ending Misery",4,$2.32,$9.28
67,"Celeste, Incarnation of the Corrupted",4,$2.31,$9.24
60,Wolf,5,$1.84,$9.20
1,Crucifer,4,$2.28,$9.12
150,Deathraze,2,$4.54,$9.08
163,Thunderfury Scimitar,3,$3.02,$9.06
36,Spectral Bone Axe,3,$2.98,$8.94
157,"Spada, Etcher of Hatred",4,$2.21,$8.84
62,Piece Maker,2,$4.36,$8.72
56,Foul Titanium Battle Axe,2,$4.33,$8.66
55,Vindictive Glass Edge,2,$4.26,$8.52
118,"Ghost Reaver, Longsword of Magic",3,$2.77,$8.31
88,"Emberling, Defender of Delusions",2,$4.10,$8.20
146,Warped Iron Scimitar,2,$4.08,$8.16
51,Endbringer,3,$2.67,$8.01
113,Solitude's Reaver,3,$2.67,$8.01
19,"Pursuit, Cudgel of Necromancy",2,$3.98,$7.96
14,Possessed Core,5,$1.59,$7.95
35,Heartless Bone Dualblade,3,$2.63,$7.89
132,Persuasion,2,$3.90,$7.80
50,Dawn,3,$2.55,$7.65
80,Dreamsong,2,$3.81,$7.62
26,Unholy Wand,4,$1.88,$7.52
...,...,...,...,...
89,"Blazefury, Protector of Delusions",2,$1.50,$3.00
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88
101,Final Critic,6,$4.62,$27.72
7,"Thorn, Satchel of Dark Souls",6,$4.51,$27.06
145,Fiery Glass Crusader,6,$4.45,$26.70
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
152,Darkheart,8,$3.15,$25.20
102,Avenger,6,$4.16,$24.96
158,"Darkheart, Butcher of the Champion",7,$3.56,$24.92
66,Victor Iron Spikes,7,$3.55,$24.85
84,Arcane Gem,11,$2.23,$24.53
173,Stormfury Longsword,5,$4.83,$24.15
128,"Blazeguard, Reach of Eternity",6,$4.00,$24.00
148,"Warmonger, Gift of Suffering's End",6,$3.96,$23.76
46,Hopeless Ebon Dualblade,5,$4.75,$23.75
108,"Extraction, Quickblade Of Trembling Hands",7,$3.39,$23.73
8,"Purgatory, Gem of Regret",6,$3.91,$23.46
153,Mercenary Sabre,5,$4.57,$22.85
73,Ritual Mace,6,$3.74,$22.44
91,Celeste,6,$3.71,$22.26
48,"Rage, Legacy of the Lone Victor",5,$4.32,$21.60
12,Dawne,5,$4.30,$21.50
22,Amnesia,6,$3.57,$21.42
49,"The Oculus, Token of Lost Worlds",5,$4.23,$21.15
30,Stormcaller,5,$4.15,$20.75
121,Massacre,6,$3.42,$20.52
81,Dreamkiss,5,$4.06,$20.30